@page "/"

@using SevenDaysFront.Data
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@inject MovieService movieService

<h1>Movies</h1>

<p>List of movies avaibles.</p>

@if (movies == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Image</th>
                <th>Description</th>
                <th>Rental Price</th>
                <th>Sale Price</th>
                <th>Stock</th>
                <th>Likes</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in movies)
            {
                <tr>
                    <td><image src="@movie.Image" /></td>
                    <td><h2>@movie.Title</h2> <div>@movie.Description</div></td>

                    <td>$@movie.RentalPrice</td>
                    <td>$@movie.SalePrice</td>
                    <td>@movie.Stock</td>
                    <td>@movie.LikesCounter</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Movie[] movies;

    protected override async Task OnInitializedAsync()
    {
        var urlBase = @Configuration.GetSection("ApiUrl").Value;

        movies = await movieService.GetMovieAsync(urlBase);
    }
}
